@font-face {
  font-family:TexGyreHeros;
  src: url("texgyreheros.gyreheros-regular.otf");
}
@font-face {
  font-family:TexGyreHeros;
  src: url("texgyreheros.gyreheros-bold.otf");
}
@font-face {
  font-family:TexGyreHerosCondensed;
  src: url("texgyreheros.gyreheroscondensed-regular.otf");
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

body {
 
  
  
  height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0;
  
}


.Text{
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(0, 0, 0);
  font-family:TexGyreHeros;
  font-size: 10pt;
  line-height: 18pt;
  letter-spacing: 0.2px;
  text-align: justify;
  text-align-last: center;
  
}
p {
  font-size: 10pt;
  line-height: 18pt;
  letter-spacing: 0.2px;
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
  color: rgb(0, 0, 0);
  font-family: TexGyreHeros, sans-serif; /* Added fallback font */
  text-align: center;
}

.vertical-line {
 
  display:none;
}
.information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  
 
  color: #000000;
  height:auto;
  
  font-family:TexGyreHeros;
  font-size: 10pt;
  line-height: 16pt;
  
}


.fps-archive {
  margin-left: 10px;
}
.contact {
  margin-right: 10px;
}
a{
  
  color:rgb(0, 0, 0);
  
  text-decoration: none;
}
@media (max-width: 1000px) {

  .Text{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family:TexGyreHeros;
    font-size: 14pt;
    line-height: 20pt;
    letter-spacing: 0.5px;
    text-align: left;
    text-align-last: left;
    padding-bottom: 88px;

}
p{
  padding-left: 18px;
  text-align: left;
}
.vertical-line {
  display: none;
}
}