@font-face {
  font-family:TexGyreHeros;
  src: url("texgyreheros.gyreheros-regular.otf");
}
@font-face {
  font-family:TexGyreHerosBold;
  src: url("texgyreheros.gyreheros-bold.otf");
}
@font-face {
  font-family:TexGyreHerosCondensed;
  src: url("texgyreheros.gyreheroscondensed-regular.otf");
}
@font-face {
  font-family:TexGyreHerosCondensed-Bold;
  src: url("texgyreheros.gyreheroscondensed-bold.otf");
}

#box {
  cursor: none;

  position: absolute;
  
  display: none;
}

body {
 
  cursor: none;

  overflow: hidden;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0;
  
}

.container {
  flex: 15;
  
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto; 
  overflow-x: hidden;
  justify-content: flex-end;
  transition: all 1ms;
  cursor: none;
    
  
}
.column {
  position: relative;
  padding: 0;
  margin-right: 24px;
  width: 100%;
  height:100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: flex 360ms ease-out;
  cursor: none;

  mix-blend-mode: normal;
  z-index: 9;
}

.column:hover{
  flex:3;
}

.column:click {
  margin-right: 4px;
}



.column img {
  
  width: 100%;
  height: auto;
  align-self: flex-end; /* Aligns the image to the bottom of the column */
  justify-content: flex-end;
  object-fit: contain;
  padding: 0;
  visibility: hidden;
  
  
}
img{
  border: solid 0.01px rgb(213, 213, 213);
  cursor: pointer;
}



.trigger-container{
  height: 100%;
  display: flex;
  
  justify-content: flex-end;
  
  object-fit: contain;
  padding: 0;
  z-index: -1;
  cursor: pointer;
  overflow: hidden;
  

}
h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 0pt;
  font-style: normal;
}
.container2{
  z-index: 9999;
  flex: 0.7;
  width: 100%;
  height:auto;
  display: flex; /* Add Flexbox */
  justify-content: center; /* Horizontal centering */
  align-items: center;
  text-align: justify;
  font-family:TexGyreHerosBold;
  transition: all 1ms;
  line-height: 20pt;
  cursor: pointer;
  
  background-color: transparent;
  
  
}


.text, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15, .text16, .text17, .text18, .text19, .text20, .text21, .text22, .text23 {
  white-space: nowrap;
  width: 100%;
  font-family:TexGyreHerosBold;
  font-size: 10pt;
  line-height: 20pt;
  color: rgb(0, 0, 0);
  
  bottom: 0;
  padding:0;
  margin:0;
  display: none;
  padding-top: 0px; 
  padding-bottom: 0px;
  
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
 
}

.name {
  display: inline-block;
  font-family:TexGyreHerosBold;
  font-size: 10pt;
  line-height: 16pt;
  
  
  
}
.type {
  font-family:TexGyreHeros;
  font-size: 10pt;
  line-height: 16pt;
  
}

a{
  font-family:TexGyreHerosBold;
  color:rgb(0, 0, 0);
  font-size: 10pt;
  line-height: 16pt;
  
}

.info {
 

  position: fixed;
  position: absolute;
  top: 0;
  
  color: rgb(0, 0, 0);
  
  
  
  
}

.left {
  font-family:TexGyreHerosBold;
  position: fixed;
  
  right: 10px;
}

.right {
  height: 100%;
  width: 100%; /* Set the width to 100% of the viewport width */
  letter-spacing:-20px;
  white-space: nowrap;
  margin-right: 18px;
 position: fixed;
 text-align: center; /* Center text horizontally */
 font-family:TexGyreHerosCondensed;
 color: rgb(0, 0, 0);
 line-height:100vh;
 transform: translateY(-11%);

 
}

@media screen and (min-height: 1501px) and (max-height: 6000px) {
  .right {
    /* Set the width to 100% of the viewport width */
    letter-spacing:-56px;
    transform: translateY(-6%)
  }
  .container2{
    z-index: 9999;
    flex: 0.25;
  }
  .column {
    
    margin-right: 50px;
  }
}

@media screen and (min-height: 1200px) and (max-height: 1500px) {
  .right {
    /* Set the width to 100% of the viewport width */
    letter-spacing:-40px;
  }
  .container2{
    z-index: 9999;
    flex: 0.4;
  }
  .column {
    
    margin-right: 36px;
  }
}


.hover-container {
  height: 100vh;
  width: 100vw;
  text-align: center;
            margin: 0;
            padding: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            overflow: hidden; /* Ensure text doesn't overflow */
}


.vertical-line {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #ffffff; /* Change color as needed */
  mix-blend-mode: exclusion;
  pointer-events: none;
  z-index: -9999;
  display:none;
}

#changeable-text {
  transition: all 300ms ease-in-out;

  
}


.information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
 
  color: #000000;
  height:auto;
  z-index: 999;
  font-family:TexGyreHerosBold;
  font-size: 10pt;
  line-height: 16pt;
  
}


.fps-archive {
  margin-left: 0px;
}
.title, .title2, .title3, .title4, .title5, .title6, .title7, .title8, .title9, .title10, .title11, .title12, .title13, .title14, .title15, .title16, .title17, .title18, .title19, .title20, .title21, .title22, .title23 {
  display:none;
}

.contact {
  margin-right: 0px;
}
::selection {
  color: black;
  background: white;
}

.slider {
  display: none;
}

.swiper-container, .swiper-wrapper, .swiper-slide{
  display: none;
}
@media (max-width: 800px) {
  .swiper-pagination{
    display: none;
  }
  
  .swiper-container {
    display: block;
    width: 100%;
    margin: auto;
    flex: 2;
    height: auto;
  }
  .swiper-slide {
    text-align: center;
    height:auto;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    
       
  }
  
  body{
    overflow-x: hidden;
  }
 .container{
  flex:0;
  display: none;
  width:fit-content;
  justify-content:flex-start; /* Align items horizontally in the center */
  flex-direction: row;
  text-align: center;
 
  
  overflow-x: hidden;
 }
  .column {
    
    text-align: center;
    margin-right: auto; /* Push columns to the center */
    margin-left: auto;
      width:100%;
      margin-bottom: 8px;
      
   
    } 
    .column img {
      text-align: center;
    }
    .right {
     position: fixed;
     bottom:0;
    transform: translateY(0%);
    z-index: -999;
    
    letter-spacing: -10px;
    }
    .vertical-line{
     display: none;
    }
    
    .text {
      
      height: auto;
      margin-bottom: 20px;
    }
    
      .name {
    
    margin-right: 20px;
   }
    .container2{
     flex:1;
      height: auto;
      overflow-x: auto;
      z-index: 999;
     
      align-items:flex-start;
      background-color: #ffffff;
      margin-bottom: 10px;
    }
    
   
    .title13, .title18 {
      letter-spacing: -1px;
    }
  
    
}