@font-face {
  font-family:TexGyreHeros;
  src: url("texgyreheros.gyreheros-regular.otf");
}
@font-face {
  font-family:TexGyreHerosBold;
  src: url("texgyreheros.gyreheros-bold.otf");
}
@font-face {
  font-family:TexGyreHerosCondensed;
  src: url("texgyreheros.gyreheroscondensed-regular.otf");
}
@font-face {
  font-family:TexGyreHerosCondensed-Italic;
  src: url("texgyreheros.gyreheroscondensed-italic.otf");
}



body {
 
  
  width: 100%;
  height: 100vh;
  margin: 0;
        
  
  background-color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 0;
  
 
}


#container {
 
  width: 100%;
  
  display: flex;
  flex-direction: column;
  
 
}
.title {
  padding-top: 8px;
  margin-right: 10px;
  font-size: 12pt;
  line-height: 14pt;
  font-family:TexGyreHerosBold;
  
}
.name {
  font-family:TexGyreHerosBold;
  letter-spacing: -0.3px;
  font-size: 64pt;
  line-height: 56pt;
  padding-bottom: 40px;
  
  
 
  
}
.Text{
  
  color: rgb(255, 255, 255);
 
  text-align: center;
  display: flex;
  flex-direction: column;
 
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
  
  p{
    margin: 0;
    padding-bottom: 24px;
  }
  img{
    text-align: center;
    height:16vh;
    transition: all 0.3s ease-in-out;
       
  }
  img:hover{
    height: 97vh;
  }
  .pic {
    text-align: center;
    display: block;
    position: relative;
  }
  a {
    color: white;
    text-decoration:none;
    text-decoration-thickness: 5.5px;
   
  }
  a:hover {
    text-decoration:underline;
    text-decoration-thickness: 5px;
   

  }

  .vertical-line {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #ffffff; /* Change color as needed */
    mix-blend-mode: exclusion;
    pointer-events: none;
  }

  .information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    color: #ffffff;
    height:auto;
    
    font-family:TexGyreHerosBold;
    font-size: 10pt;
    line-height: 16pt;
    
  }
  
  
  .fps-archive {
    margin-left: 10px;
  }
  .contact {
    margin-right: 10px;
  }
  .title2 {
    display:none;
  }


  @media (max-width: 1000px) {
    body{
      width:100%;
    }
    .container {
      width:100%;
    }
    .name {
      
      font-size: 40pt;
      line-height: 36pt;
  }
  img{
    text-align: center;
    height:16vh;
    transition: all 0.3s ease-in-out;
    
       
  }
  img:hover{
    width:100%;
  height: 100%; }
}
  
 
  
